@import "../../../variables";

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-top: 3px solid $borderColor;
  margin-left: -15px;
  margin-right: -15px;
  height: 90px;
  position: relative;
  z-index: 10;
  background-color: $white;
}
