<article id="app-wrapper" class="container-fluid" [style.height]="leafResult && !loading ? 'initial' : '100%'">
  <app-header></app-header>
  <app-questions
    [loading]="loading"
    [submitted]="submitted"
    [currentQuestion]="currentQuestion"
    [questions]="questions"
    [leafResult]="leafResult"
    (updateAnswer)="updateAnswer($event)"></app-questions>
  <app-footer
    [loading]="loading"
    [submitted]="submitted"
    [currentQuestion]="currentQuestion"
    [questions]="questions"
    [leafResult]="leafResult"
    (onPrevQuestion)="prevQuestion(questions[currentQuestion])"
    (onNextQuestion)="nextQuestion(questions[currentQuestion])"
    (onRestart)="restart()"
    (onSubmit)="submit()">
  </app-footer>
</article>
