<article id="app-wrapper" class="container-fluid">
  <app-header></app-header>
  <app-questions
    [loading]="loading"
    [currentQuestion]="currentQuestion"
    [questions]="questions"
    [leafResult]="leafResult"
    (updateAnswer)="updateAnswer($event)"></app-questions>
  <app-footer
    [currentQuestion]="currentQuestion"
    [questions]="questions"
    [leafResult]="leafResult"
    (onPrevQuestion)="prevQuestion(questions[currentQuestion])"
    (onNextQuestion)="nextQuestion(questions[currentQuestion])"
    (onRestart)="restart()">
  </app-footer>
</article>
